name: Master deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    if: ( github.event.commits[0].message != 'Initial commit' ) || github.run_number > 1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/ansible
      env:
        AWS_EC2_KEY: ${{ secrets.AWS_EC2_KEY }}
